/* ================================
   STARTSEITE
================================ */

header {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e0e0e0;
}

header h1 {
    font-size: 1.8rem;
}

main p {
    font-size: 1.125rem;
}

/* ================================
   HERVORHEBUNG
================================ */

main p:first-of-type {
    font-weight: 500;
}
